<div class="card">
    <h4>Reservas</h4>
    <p-table> <!---[value]="reservas"--->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente"></p-sortIcon></th>
                <th pSortableColumn="sala">Sala <p-sortIcon field="sala"></p-sortIcon></th>
                <th pSortableColumn="dtIni">Data Inicial <p-sortIcon field="dtIni"></p-sortIcon></th>
                <th pSortableColumn="dtFim">Data Final <p-sortIcon field="dtFim"></p-sortIcon></th>
                <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
            </tr>
        </ng-template>
        <!--<ng-template pTemplate="body" let-product>
            <tr>
                <td>{{reservas.cliente}}</td>
                <td>{{reservas.sala}}</td>
                <td>{{reservas.dtIni}}</td>
                <td>{{reservas.dtFim}}</td>
                <td>{{reservas.total | currency: 'R$'}}</td>
            </tr>
        </ng-template>
    --->
    </p-table>
</div>
