<div class="ui-fluid" style="width: 60%; margin-left: 6.5rem;">
    <div class="p-field">
        <label for="nome">Digite o nome do equipamento</label>
        <input id="nome" type="text" [(ngModel)]="equipamento.nome" placeholder="Digite o nome" pInputText>
    </div>
    <br>
    <div class="p-field">
        <label for="tipo">Escolha o tipo do Equipamento</label>
        <p-dropdown id="tipo" [options]="tipos" [(ngModel)]="tipoSelecionado" placeholder="Selecione o tipo do equipamento" optionLabel="nome" [showClear]="true"></p-dropdown>
    <br>
    <br>
    <div>
        <div class="p-field">
            <div class="p-field p-col-12 p-md-3">
                <label for="precoDiario">Digite o Preço Diário</label>
                <p-inputNumber id="precoDiario" placeholder="0,00" [(ngModel)]="equipamento.precoDiario" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5">
                </p-inputNumber>
            </div>
        </div>
    </div>
    <br>
    <div style="width: 6rem;">
        <button 
        pButton 
        type="button" 
        class="app-button-success p-d-flex p-jc-center p-ic-center" style="background-color: green; margin-left: 7rem;" (click)="onSubmit()">
        <i class="fa fa-check" aria-hidden="true" style="padding-right: 5px;"></i>
        <span style="line-height: 30px;">Salvar</span>
        </button>
    </div>
</div>


    