<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div div class="p-d-block p-d-lg-inline">

        <div class="ui-g ui-fluid">
            <div style="width: 30%">
                <div>
                    <label for="salas" style="font-size: 130%">Descrição da Sala</label>
                </div>
                <p-dropdown [options]="salas" formControlName="idSala" [filter]="true" filterBy="label,value.descricao"
                    (onHide)="listarOpcionais();valorTotal()" placeholder="Selecione um Sala"></p-dropdown>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div style="width: 30%">
                <div>
                    <label for="clientes" style="font-size: 130%">CPF do Cliente</label>
                </div>
                <p-dropdown [options]="clientes" [(ngModel)]=clienteSelecionado formControlName="idCliente"
                    [filter]="true" filterBy="label,value.cpf" placeholder="Selecione um Cpf de Cliente"></p-dropdown>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label for="dataInicio" style="font-size: 130%;">Data Inicial</label>
                <div class="ui-inputgroup">
                    <input type="datetime-local" pInputText formControlName="dataInicio" id="dataInicio">
                </div>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label for="dataFim" style="font-size: 130%;">Data Final</label>
                <div class="ui-inputgroup">
                    <input type="datetime-local" pInputText formControlName="dataFim" id="dataFim">
                </div>
            </div>
        </div>
    </div>
    <div class="p-d-lg-inline">

        <div>
            <h2>Equipamentos opcionais</h2>
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" style="background-color: green;" (click) = addEquipamento()></button>
        </div>
        <div style="display: flex;">
            <div style="margin-right: 75px;">
                <label for="listaEquipamentos" style="font-size: 130%">Nome</label>
            </div>
            <div>
                <label for="quantidade" style="font-size: 130%;">Quantidade</label>
            </div>
        </div>

        <div *ngIf="mostrarLista">
            <div class="nova-lista-equipamentos" *ngFor="let item of equipamentosOpcionaisNew; let i=index">
                <div class="ui-g ui-fluid" style="display: flex; margin-bottom: 10px;">
                    <div>
                        <div style="width: fit-content; margin-right: 10px" >
                            <input pInputText type="text" id="idEquipamento" style="width: 175px; background-color: darkgray;"
                            readonly value="{{getNomeEquipamento(equipamentosOpcionaisNew[i].idEquipamento)}}"> 
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div style="width: 5.4vw;" >
                            <input pInputText type="number" min="1" [value]="equipamentosOpcionaisNew[i].quantidade" id="quantidade"
                            #qtd (blur) = "alterarQuantidade(qtd.value, i);valorTotal()"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form action="" [formGroup]="formulario2"></form>
        <div class="nova-lista-equipamentos" *ngFor="let item of equipamentosOpcionaisNew; let i=index">
            <div class="equipamento" style="display: flex; margin-bottom: 10px;">
                <div style="width: fit-content;">

                    <p-dropdown [options]="equipamentosOpcionaisNew" #idEquipamento
                         id="listaEquipamentos" placeholder="Selecione..."
                        (onChange) = "alterarIdEquipamento(idEquipamento.value, i)"></p-dropdown>
                </div>
                <div class="ui-g ui-fluid">
                    <div style="width: 5.4vw; margin-left: 10px" >

                        <input pInputText type="number" min="1" [value]="equipamentosOpcionaisNew[i].quantidade" id="quantidade"
                        #qtd (blur) = "alterarQuantidade(qtd.value, i)"> 
                    </div>
                </div>

                <div style="margin-left: 10px;">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" style="background-color: green;" (click) = addEquipamento();valorTotal()></button>
                </div>
                <div style="margin-left: 10px;">
                    <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded" style="background-color: red;" (click) = removerEquipamento(i);valorTotal()></button>
                </div>
                
                
            </div>
        </div>

        <!-- <div class="ui-g ui-fluid">
            <p-multiSelect [options]="equipamentoOpcionais" [overlayVisible]="true" optionLabel="label"
                (onPanelHide)="objetoEquipamento();addEquipamento()" [(ngModel)]="equipamentosSelecionados"
                [ngModelOptions]="{standalone: true}" placeholder="Nome do Equipamentos"
                ></p-multiSelect>
        </div>

        <div style=" display: flexbox;" *ngFor="let equipamento of equipamentosSelecionados; let i = index;">

            <div style="display: flex;">

                <div class="ui-g ui-fluid">
                    <label for="listaEquipamentos">{{equipamento.label}}</label>

                </div>

                <div class="ui-g ui-fluid">
                    <div style="width: 5.4vw; margin-left: 10px">
                        <div>
                            <label for="capacidade" style="font-size: 100%;">Quantidade</label>
                        </div>
                        <p-inputNumber type="number" id="quantidade" #quantidade 
                        (onBlur)="setQuantidade(equipamento.value.idEquipamento,quantidade.value)"
                        (onBlur)="valorTotal()" placeholder="0"></p-inputNumber>
                    </div>
                </div>

            </div>

        </div> -->

        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                    Total: R$ {{this.formulario.get('total').value}}
                </div>
            </div>

        </div>

    </div>
    <div class="ui-g ui-fluid">

        <div>
            <button pButton 
            type="button" 
            class="app-button-success p-d-flex p-jc-center p-ic-center" 
            style="background-color: green; margin-top: 10px; font-weight: bold; line-height: 30px;"
            (click) = onSubmit()>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Realizar Reserva</span>
            </button>
        </div>

    </div>
</form>