<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div div class="p-d-block p-d-lg-inline">
        
        <div class="ui-g ui-fluid">
            <div style="width: 15%">
                <div>
                    <label for="idSala" style="font-size: 130%;">Id da Sala</label>
                </div>
                 <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="Digite uma sala" 
                    formControlName="idSala" id="idSala">
                </div> 
            </div>
        </div>
        
        <div class="ui-g ui-fluid">
            <div style="width: 15%">
                <div>
                    <label for="idCliente" style="font-size: 130%;">Id da Cliente</label>
                </div>
                 <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="Digite um cliente" 
                    formControlName="idCliente" id="idCliente" >
                </div> 
            </div>
        </div>
        
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label for="dataInicio" style="font-size: 130%;">Data Inicial</label>
                <div class="ui-inputgroup">
                    <input type="datetime-local"  pInputText 
                    formControlName="dataInicio" id="dataInicio">
                </div>
            </div>
        </div>
            
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label for="dataFim" style="font-size: 130%;">Data Final</label>
                <div class="ui-inputgroup">
                    <input type="datetime-local"  pInputText 
                    formControlName="dataFim" id="dataFim">
                </div>
            </div>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <label for="Total" style="font-size: 130%;">Total</label>
                <div class="ui-inputgroup">
                    <input currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' 
                    , precision: 2, allowNegative: false}"
                    placeholder="R$ 0,00">
                </div>
            </div>
        </div>
        
        <div class="ui-g ui-fluid">
            <div>
                <button 
                pButton 
                type="button" 
                class="app-button-success p-d-flex p-jc-center p-ic-center" 
                style="background-color: green; margin-top: 5px; padding-top: 10%;"
                (click) = onSubmit()>
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Realizar Reserva</span>
                </button>
            </div>
        </div>
    </div>
</form>