<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
        <div>
            <label for="descricao" style="font-size: 130%;">Descrição</label>
        </div>
        <div style="text-align: center; margin-top: 3px;">
            <textarea required [rows]="5" [cols]="89" pInputTextarea autoResize="autoResize" style="box-sizing: border-box; width: 100%;"
            formControlName="descricao" id="descricao" placeholder="Endereço, área, etc."></textarea>
        </div>
        <div style="justify-content: space-between; display: inline-flex;">
            <div>
                <div>
                    <label for="precoDiario" style="font-size: 130%;">Preço Diário Base</label>
                </div>
                <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="R$" formControlName="precoDiario" id="precoDiario"
                    currencyMask [(ngModel)]="value" [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ','}">
                </div>
            </div>
            <div style="margin-left: 10px;">
                <div>
                    <label for="idTipoSala" style="font-size: 130%">Tipo</label>
                </div>
                <p-dropdown [options]="tiposSala" formControlName="idTipoSala"></p-dropdown>
            </div>
            <div style="margin-left: 10px; display: flexbox;">
                <div>
                    <label for="capacidade" style="font-size: 130%;">Capacidade</label>
                </div>
                <div class="ui-inputgroup">
                    <input pInputText type="number" min="0" formControlName="capacidade" id="capacidade" style="width: 40%; border-right-width: 1px;">
                    <div style="margin-left: 5px; line-height: 30px; width: 30%; font-size: 17px;">
                        pessoas
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-d-lg-inline">
        <div style="display: flex;">
            <h2>Equipamentos obrigatórios</h2>
        </div>
        <div style=" display: flexbox;" formArrayName="equipamentos" *ngFor="let equipamento of formulario.get('equipamentos').controls; let i = index;">
            <div [formGroupName]="i" style="display: flex;">
                <div style="width: fit-content;">
                    <div>
                        <label for="listaEquipamentos" style="font-size: 130%">Nome</label>
                    </div>
                    <p-dropdown [options]="listaEquipamentos" formControlName="idEquipamento" id="listaEquipamentos"></p-dropdown>
                </div>
                <div class="ui-g ui-fluid">
                    <div style="width: 5.4vw; margin-left: 10px" >
                        <div>
                            <label for="capacidade" style="font-size: 130%;">Quantidade</label>
                        </div>
                        <div class="ui-inputgroup">
                            <input pInputText type="text" formControlName="quantidade" id="quantidade"> 
                        </div>
                    </div>
                </div>
                <div style="line-height: 65px; margin-left: 10px;">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" style="background-color: green;" (click) = addEquipamento()></button>
                </div>
                <div style="line-height: 65px; margin-left: 10px;">
                    <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded" style="background-color: red;" (click) = removerEquipamento(i)></button>
                </div>
            </div>

        </div>
    </div>
    <button 
    pButton 
    type="button" 
    class="app-button-success p-d-flex p-jc-center p-ic-center" 
    style="background-color: green; margin-top: 10px; font-weight: bold; line-height: 30px;"
    (click) = onSubmit()>
    <span>Criar</span>
    </button>
</form>
