.botao{
    display: flex;
    flex-direction: row-reverse;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-bottom: 10px;
=======
>>>>>>> Front end basico, ainda a corrigir detalhes
=======
    margin-bottom: 10px;
>>>>>>> Ajustes
}
