<div class="card" style = "height:65px; display: block;">
    <div style= "height: 2.7rem; text-align: left; line-height: 60%; display: flex;
    justify-content: space-between;">
        <h1 style = "font-size: 30px;">Equipamentos</h1>
            <button 
            pButton 
            type="button" 
            class="app-button-success p-d-flex p-jc-center p-ic-center" 
            style="background-color: green; margin-top: 5px;" (click)="abrirPopUp()" (focus)="appChild.resetaForm()">
            <i class="fa fa-plus" aria-hidden="true" style="padding-right: 10px;"></i>
            <span>Novo Equipamento</span>
            </button>
    </div>
</div>

<p-table #dt [value]="equipamentos" [globalFilterFields]="['nome']">
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" style="width: 9rem;">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nome"S>Nome <p-sortIcon field="nome"></p-sortIcon></th>
            <th pSortableColumn="idTipoEquipamento" style="width: 13rem;">Tipo <p-sortIcon field="idTipoEquipamento"></p-sortIcon></th>
            <th pSortableColumn="precoDiario" style="width: 10rem;">Preço Diário <p-sortIcon field="precoDiario"></p-sortIcon></th>
            <th style="width: 13rem;">
                <div style="display: flex;">
                    <div style="padding-top: 5px; padding-right: 2px;">
                        <i class="pi pi-search"></i>
                    </div>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." style="width: 85%;"/>
                </div> 
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipamento>
        <tr>
            <td style="text-align: center;">{{equipamento?.id}}</td>
            <td>{{equipamento?.nome}}</td>
            <td style="text-align: center;">{{getTipoEquipamento(equipamento)}}</td>
            <td style="text-align: center;">{{equipamento?.precoDiario | currency: 'BRL'}}</td>
            <td style="text-align: center;">
                <span style="float: center">
                    <button 
                    pButton 
                    type="button" 
                    class="app-button-success p-d-flex p-jc-center p-ic-center" style="background-color: blue;" (focus)="appChild.atualizarEquipamento(equipamento?.id)">
                    <i class="fa fa-pencil" aria-hidden="true" style="padding-right: 5px;"></i>
                    <span>Editar</span>
                    </button>  
                    <button 
                    pButton 
                    type="button" 
                    class="app-button-success p-d-flex p-jc-center p-ic-center" style="background-color: red; margin-left: 5px;" (click)="deletar(equipamento?.id)">
                    <i class="fa fa-trash" aria-hidden="true" style="padding-right: 5px;"></i>
                    <span>Deletar</span>
                    </button>
                </span>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog icon="fa fa-exclamation-triangle"></p-confirmDialog>

<p-dialog header = "Novo Equipamento" [modal]="true" [(visible)]="displayCreation" [style]="{'width':'22wv', 'height':'40wv'}">
    <app-equipamentos-form #appChild></app-equipamentos-form>    
</p-dialog>

<p-toast position="top-center"></p-toast>